<div id="all-text">
<h1 id="question">Is there a Saturday this week?</h1>

<p id="answer">
<%= @answer %>
</p>

<p id="info">
Stanford (5-2) plays <%= @firstGame.opponent %> on <%= @firstGame.kickoff.strftime("%A, %B %-d")%> at <%= @firstGame.kickoff.strftime("%-I:%M %p") %> PDT
<br/>
<br/>
Location: <%= @firstGame.location %>
</p>
<% if @answer == "Sort of!" %>
Just because it's across the bay doesn't mean you shouldn't go.
<% end %>
</div>
