<% content_for :body_id, @first_game.home_or_away %>
<div id="all-text">

<h1 id="question">Is there a Saturday this week?</h1>

<p id="answer">
<%= @answer %>
</p>

<p id="info">
Stanford plays <%= @first_game.opponent %> on <%= @first_game.game_date.strftime('%A, %B %-d')%> at <%= @first_game.game_time.strftime('%-I:%M %p') %> PDT
<br/>
<br/>
Location: <%= @first_game.location %>
</p>
</div>
